.intro__list {
  list-style-type: none;
  padding: 0;
  margin: 32px 0 0;
  width: 690px;
  font-size: 12px;
  line-height: 1.3;
}

@media screen and (max-width: 1023px) {
  .intro__list {
    width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .intro__list {
    width: 100%;
  }
}
