@import url(__title/lead__title.css);
@import url(__subtitle/lead__subtitle.css);
@import url(__image/lead__image.css);
@import url(__image-front/lead__image-front.css);
@import url(__caption/lead__caption.css);
@import url(__picture/lead__picture.css);



.lead {
  display: flex;
  margin: 56px auto 0;
  flex-direction: column;
  justify-content: center;
  
}

@media screen and (max-width: 1279px) {
  .lead {
    margin: 48px auto 0;
  }
}
