.cover__subtitle {
  max-width: 360px;
  font-size: 18px;
  line-height: 1.22;
  font-weight: normal;
  padding: 0;
  margin: 32px auto 0;
  text-align: center;
}


@media screen and (max-width: 767px) {
  .cover__subtitle {
    width: 288px;
    max-width: 288px;
    font-size: 14px;
    line-height: 1.14;
    margin: 16px auto 0;
  }
}
