.place__text {
  width: 484px;
  max-width: 484px;
}

@media screen and (max-width: 1279px) {
  .place__text {
    width: 456px;
    max-width: 456px;
  }
}

@media screen and (max-width: 1023px) {
  .place__text {
    width: 352px;
    max-width: 352px;
  }
}

@media screen and (max-width: 767px) {
  .place__text {
    width: 320px;
    max-width: 320px;
  }
}
