.lead__image-front {
  width: 937px;
  height: 263px;
  position: absolute;
  background-image: url(../../../images/lead/path.png);
  top: 90px;
  left: 23px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1279px) {
  .lead__image-front {
    width: 884px;
    height: 248px;
    top: 85px;
    left: 22px;
  }
}

@media screen and (max-width: 1023px) {
  .lead__image-front {
    width: 731px;
    height: 205px;
    top: 70px;
    left: 18px;
  }
}

@media screen and (max-width: 767px) {
  .lead__image-front {
    width: 305px;
    height: 86px;
    top: 29px;
    left: 8px;
  }
}
