.place__website {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 484px;
  max-width: 484px;
}

@media screen and (max-width: 1279px) {
  .place__website {
    width: 456px;
    max-width: 456px;
  }

}

@media screen and (max-width: 1023px) {
  .place__website {
    width: 352px;
    max-width: 352px;
  }
}

@media screen and (max-width: 767px) {
  .place__website {
    display: none;
  }
}
